In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
df = pd.read_csv("HN-ratio_human_221027_All.csv", sep=",")
df.head()

,GeneName,SRR8392699,SRR8392700,SRR8392703,SRR8392704,SRR10129832,SRR9029562,SRR9029564,SRR9029566,SRR3309259,...,SRR9257642,SRR9257643,SRR9257644,SRR9257645,SRR12801712,SRR12801713,SRR12801714,SRR11067753,SRR11067754,SRR11067755
0,A1BG,0.937577,0.905060,1.173431,0.951361,1.616084,1.587653,0.839417,0.707164,0.688915,...,0.150518,3.972351,1.388637,0.267622,1.000000,1.0,1.000000,1.000000,1.000000,0.497684
1,A1CF,1.274827,1.000000,1.000000,1.000000,1.578923,1.121376,1.125679,1.256608,0.867105,...,1.000000,1.000000,1.000000,1.000000,0.939182,1.0,1.052121,1.029972,1.000000,1.000000
2,A2M,0.954195,1.510970,1.340899,0.800410,2.867888,0.271588,1.027820,0.628021,0.646622,...,1.000000,4.285260,1.000000,1.000000,1.000000,1.0,1.000000,0.875078,2.271058,1.530530
3,A2ML1,1.078959,0.649897,0.789869,1.665942,2.674006,8.028230,3.515341,9.282938,0.929338,...,1.000000,0.795947,1.000000,1.000000,1.000000,1.0,1.000000,2.026651,1.000000,1.000000
4,A3GALT2,1.000000,1.000000,1.000000,1.000000,0.924578,1.000000,1.000000,0.468382,0.600246,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000

In [3]:
# set index 
df1=df.set_index('GeneName')
df1.head()

,SRR8392699,SRR8392700,SRR8392703,SRR8392704,SRR10129832,SRR9029562,SRR9029564,SRR9029566,SRR3309259,SRR3309260,...,SRR9257642,SRR9257643,SRR9257644,SRR9257645,SRR12801712,SRR12801713,SRR12801714,SRR11067753,SRR11067754,SRR11067755
GeneName,,,,,,,,,,,,,,,,,,,,,
A1BG,0.937577,0.905060,1.173431,0.951361,1.616084,1.587653,0.839417,0.707164,0.688915,0.807707,...,0.150518,3.972351,1.388637,0.267622,1.000000,1.0,1.000000,1.000000,1.000000,0.497684
A1CF,1.274827,1.000000,1.000000,1.000000,1.578923,1.121376,1.125679,1.256608,0.867105,0.542718,...,1.000000,1.000000,1.000000,1.000000,0.939182,1.0,1.052121,1.029972,1.000000,1.000000
A2M,0.954195,1.510970,1.340899,0.800410,2.867888,0.271588,1.027820,0.628021,0.646622,1.000000,...,1.000000,4.285260,1.000000,1.000000,1.000000,1.0,1.000000,0.875078,2.271058,1.530530
A2ML1,1.078959,0.649897,0.789869,1.665942,2.674006,8.028230,3.515341,9.282938,0.929338,0.266727,...,1.000000,0.795947,1.000000,1.000000,1.000000,1.0,1.000000,2.026651,1.000000,1.000000
A3GALT2,1.000000,1.000000,1.000000,1.000000,0.924578,1.000000,1.000000,0.468382,0.600246,0.241123,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000

In [4]:

temp = pd.DataFrame()
thre = df1>=1.5
temp["up1.5"] = thre.sum(axis=1)

thre = df1>=2
temp["up2"] = thre.sum(axis=1)

thre = df1>=5
temp["up5"] = thre.sum(axis=1)

thre = df1>=10
temp["up10"] = thre.sum(axis=1)

thre = df1<=1/1.5
temp["dn1.5"] = thre.sum(axis=1)

thre = df1<=1/2
temp["dn2"] = thre.sum(axis=1)

thre = df1<=1/5
temp["dn5"] = thre.sum(axis=1)

thre = df1<=1/10
temp["dn10"] = thre.sum(axis=1)

thre = df1 >= 0
temp["all"] = thre.sum(axis=1)

temp["unchange1.5"] = temp["all"] - temp["up1.5"] - temp["dn1.5"]
temp["unchange2"] = temp["all"] - temp["up2"] - temp["dn2"]
temp["unchange5"] = temp["all"] - temp["up5"] - temp["dn5"]
temp["unchange10"] = temp["all"] - temp["up10"] - temp["dn10"]

temp["HN1.5"] = temp["up1.5"] - temp["dn1.5"]
temp["HN2"] = temp["up2"] - temp["dn2"]
temp["HN5"] = temp["up5"] - temp["dn5"]
temp["HN10"] = temp["up10"] - temp["dn10"]


temp

,up1.5,up2,up5,up10,dn1.5,dn2,dn5,dn10,all,unchange1.5,unchange2,unchange5,unchange10,HN1.5,HN2,HN5,HN10
GeneName,,,,,,,,,,,,,,,,,
A1BG,66,46,6,3,44,28,3,2,322,212,248,313,317,22,18,3,1
A1CF,28,12,3,1,21,6,1,1,322,273,304,318,320,7,6,2,0
A2M,61,41,10,2,58,38,9,4,322,203,243,303,316,3,3,1,-2
A2ML1,105,71,13,2,43,21,2,0,322,174,230,307,320,62,50,11,2
A3GALT2,52,48,18,2,55,47,11,1,322,215,227,293,319,-3,1,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,91,51,8,0,46,17,1,0,322,185,254,313,322,45,34,7,0
ZYG11B,38,24,4,2,89,36,3,0,322,195,262,315,320,-51,-12,1,2
ZYX,50,30,11,7,80,39,6,1,322,192,253,305,314,-30,-9,5,6
ZZEF1,63,31,7,3,51,29,1,0,322,208,262,314,319,12,2,6,3
ZZZ3,64,28,7,3,68,33,0,0,322,190,261,315,319,-4,-5,7,3

In [5]:
now = datetime.datetime.now()
print(now)

2022-10-27 17:13:12.725890

In [6]:
temp=temp.reset_index()

In [7]:
tempHN2= temp.sort_values(by= "HN2", ascending=False)
tempHN2

,GeneName,up1.5,up2,up5,up10,dn1.5,dn2,dn5,dn10,all,unchange1.5,unchange2,unchange5,unchange10,HN1.5,HN2,HN5,HN10
7346,HSPA1B,291,282,233,216,17,12,2,0,322,14,28,87,106,274,270,231,216
7345,HSPA1A,278,271,240,225,13,9,1,0,322,31,42,81,97,265,262,239,225
7352,HSPA6,283,267,247,229,11,7,2,0,322,28,48,73,93,272,260,245,229
4421,DNAJB1,289,265,212,184,19,17,2,0,322,14,40,108,138,270,248,210,184
7370,HSPH1,268,246,167,105,13,7,0,0,322,41,69,155,217,255,239,167,105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17137,TMEM177,29,15,6,2,173,121,27,12,322,120,186,289,308,-144,-106,-21,-10
8890,LFNG,51,31,11,6,173,140,36,12,322,98,151,275,304,-122,-109,-25,-6
5748,FJX1,31,20,11,8,182,132,34,7,322,109,170,277,307,-151,-112,-23,1
4128,DDX28,33,20,5,1,175,135,30,9,322,114,167,287,312,-142,-115,-25,-8
7275,HPS6,32,15,5,4,170,137,41,26,322,120,170,276,292,-138,-122,-36,-22

In [8]:
now = datetime.datetime.now()

tempHN2.to_csv('./HN-score_human_' + now.strftime('%y%m%d') + '_HN2' + '_all.csv', sep=",")

In [9]:
tempHN15= temp.sort_values(by= "HN1.5", ascending=False)
tempHN15

,GeneName,up1.5,up2,up5,up10,dn1.5,dn2,dn5,dn10,all,unchange1.5,unchange2,unchange5,unchange10,HN1.5,HN2,HN5,HN10
7346,HSPA1B,291,282,233,216,17,12,2,0,322,14,28,87,106,274,270,231,216
7352,HSPA6,283,267,247,229,11,7,2,0,322,28,48,73,93,272,260,245,229
4421,DNAJB1,289,265,212,184,19,17,2,0,322,14,40,108,138,270,248,210,184
7345,HSPA1A,278,271,240,225,13,9,1,0,322,31,42,81,97,265,262,239,225
7370,HSPH1,268,246,167,105,13,7,0,0,322,41,69,155,217,255,239,167,105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4128,DDX28,33,20,5,1,175,135,30,9,322,114,167,287,312,-142,-115,-25,-8
17137,TMEM177,29,15,6,2,173,121,27,12,322,120,186,289,308,-144,-106,-21,-10
19582,ZNF784,34,25,8,4,178,126,50,28,322,110,171,264,290,-144,-101,-42,-24
15663,SNN,29,20,8,6,177,114,22,2,322,116,188,292,314,-148,-94,-14,4
5748,FJX1,31,20,11,8,182,132,34,7,322,109,170,277,307,-151,-112,-23,1

In [10]:
tempHN15.to_csv('./HN-score_human_' + now.strftime('%y%m%d') + '_HN15' + '_all.csv', sep=",")

In [11]:
tempHN5= temp.sort_values(by= "HN5", ascending=False)
tempHN5

,GeneName,up1.5,up2,up5,up10,dn1.5,dn2,dn5,dn10,all,unchange1.5,unchange2,unchange5,unchange10,HN1.5,HN2,HN5,HN10
7352,HSPA6,283,267,247,229,11,7,2,0,322,28,48,73,93,272,260,245,229
7345,HSPA1A,278,271,240,225,13,9,1,0,322,31,42,81,97,265,262,239,225
7346,HSPA1B,291,282,233,216,17,12,2,0,322,14,28,87,106,274,270,231,216
4421,DNAJB1,289,265,212,184,19,17,2,0,322,14,40,108,138,270,248,210,184
1411,BAG3,269,243,182,129,15,13,1,0,322,38,66,139,193,254,230,181,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10426,N4BP1,38,23,3,1,141,105,44,21,322,143,194,275,300,-103,-82,-41,-20
19582,ZNF784,34,25,8,4,178,126,50,28,322,110,171,264,290,-144,-101,-42,-24
17994,TSSK3,72,62,28,16,153,127,71,51,322,97,133,223,255,-81,-65,-43,-35
7282,HRCT1,34,25,7,0,137,118,59,26,322,151,179,256,296,-103,-93,-52,-26
6826,H1-3,44,31,10,6,146,129,81,51,322,132,162,231,265,-102,-98,-71,-45

In [12]:
tempHN5.to_csv('./HN-score_human_' + now.strftime('%y%m%d') + '_HN5' + '_all.csv', sep=",")

In [13]:
tempHN10= temp.sort_values(by= "HN10", ascending=False)
tempHN10

,GeneName,up1.5,up2,up5,up10,dn1.5,dn2,dn5,dn10,all,unchange1.5,unchange2,unchange5,unchange10,HN1.5,HN2,HN5,HN10
7352,HSPA6,283,267,247,229,11,7,2,0,322,28,48,73,93,272,260,245,229
7345,HSPA1A,278,271,240,225,13,9,1,0,322,31,42,81,97,265,262,239,225
7346,HSPA1B,291,282,233,216,17,12,2,0,322,14,28,87,106,274,270,231,216
4421,DNAJB1,289,265,212,184,19,17,2,0,322,14,40,108,138,270,248,210,184
12679,PNLDC1,242,222,177,148,11,5,2,0,322,69,95,143,174,231,217,175,148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7282,HRCT1,34,25,7,0,137,118,59,26,322,151,179,256,296,-103,-93,-52,-26
3192,CLDND2,55,40,17,5,131,96,49,32,322,136,186,256,285,-76,-56,-32,-27
14537,SAPCD1,61,57,46,35,104,96,78,64,322,157,169,198,223,-43,-39,-32,-29
17994,TSSK3,72,62,28,16,153,127,71,51,322,97,133,223,255,-81,-65,-43,-35
6826,H1-3,44,31,10,6,146,129,81,51,322,132,162,231,265,-102,-98,-71,-45

In [14]:
tempHN10.to_csv('./HN-score_human_' + now.strftime('%y%m%d') + '_HN10' + '_all.csv', sep=",")